<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3>Hi <%= @name %>,</h3>
<p>Welcome to <strong>KI</strong>. You are just one step further to your KI experience.</p>
<p>Use the code <strong><%= @code %></strong> to enjoy with us.</p>
<br />
<p>Best regards,</p>
<p>KI</p>
</body>
</html>