<div class="content-bg">
  <div class="row">
    <div class="col-md-12">
      <div id="content_wrapper">
        <div id="active_admin_content">
          <div id="login">
            <h2 align="center" style="margin-left: -15px;">Forgot your password?</h2>

            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= devise_error_messages! %>

              <div class="field">
                <label class="control-label" style="margin-left: 60px; color:#4885dc"> EMAIL ADDRESS </label>
                <%= f.email_field :email, autofocus: true, class: "form-control", style: "margin-left: 60px"  %>
              </div>

              <div class="actions">
                <%= f.button "Reset Password", class: "btn btn-primary pull-right", type:"submit", style: "margin-right: 50px;"%>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
