.user-add-chat data-organization-id="#{@organization_id}" data-sender-id="#{@sender.id}"
    = render partial: 'single_chat', locals: {message: @message, sender: @sender, organization_id: @organization_id}