<hr/>
<div>
  <h2>Facebook login status</h2>
  <p id="user-fb-name" style="display: none;margin-left: 30px;"><%= session[:user_fb_name].nil? ? '' : ('Welcome, ' + session[:user_fb_name]) %></p>
  <div class="btn"><a id="btn-login" onclick="return login();" href="#" style="">Log In</a></div>

  <div class="btn"><a id="btn-test" onclick="return test();" href="#" style="">Test CORS</a></div>
  <hr/>
  <p>Data from backend</p>
  <div id="response">

  </div>

  <input id="fb_id" type="hidden" value=""/>

</div>


<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: <%= ENV['facebook_app_id'] %>,
            cookie: true,
            xfbml: true,
            version: 'v2.8'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function login() {
        FB.login(function (response) {
            console.log(response);
            debugger;
            if (response.status === 'connected') {
                alert('Logged in successfully!');
                if(response.authResponse){
//                    location.href =
//                        '/auth/facebook/callback?' +
//                        $.param({ signed_request: response.authResponse.signedRequest });
                    $.ajax({
                       url: '/auth/facebook/callback',
                        data: { signed_request: response.authResponse.signedRequest },
                        success: function(data){
                          $('#response').text(JSON.stringify(data));
                        }
                    });
                }
            } else if (response.status === 'not_authorized') {
                alert('The person is logged into Facebook, but not your app.');
            } else {
                alert("The person is not logged into Facebook, so we're not sure if they are logged into this app or not..");
            }
        }, {
            scope: 'public_profile, email,'
        });
        return false;
    }

    function test(){
        $.ajax({
          url: 'https://ki-staging.herokuapp.com/api/points',
          headers: { 'Authorization': 'XM_AqgyhugzyoY4pm7mFQ2hdJWsD9V1A', 'Content-Type': 'application/json' },
            success: function(data){
              alert('success');
              console.log('data: ', data);
            }
        });
    }
</script>